.mianContainer {
     /* width: 100vw; */
     background-color: rgb(0, 101, 189);
     padding: 1.4rem 0;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 3rem;
}

.container {
     display: flex;
     justify-content: center;
     align-items: center;
}

.text {
     color: #fff;
}